@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "TTLaundryGothicB";
  font-size:25px;
}
.bigContainer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-image:url("https://i.namu.wiki/i/j6dABVPCSa7mf71dSE1bFzLSD4lP5-UKMAmyfJc9mQx6veL_BvxkiKoT74uoMS24pmCOy79ubnNINBBaLmQ6NA.webp");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.weatherBox-container{
  width: 800px;
  height: 400px;
  border: none;
  background-color:rgba(178, 230, 252, 0.32);
  border-radius:15px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.cdo-box{
  margin-bottom:10px;
  margin-top:15px;
}

.button-style{
  padding:10px;
  margin-right: 10px;
  width:150px;
  border-radius:10px;
  border:none;
}

.button-container{
  padding:10px;
  
}
.current-button-style{
  margin-right: 10px;
}

.city-name{
  font-size:35px;
  color: rgb(94, 155, 246);
}

.do-style{
  font-size:60px;
}
.description-style{
  color:rgb(55, 54, 54);
}
